.x0 {
  left: 0px; }

.x1 {
  left: 21px; }

.x2 {
  left: 42px; }

.x3 {
  left: 63px; }

.x4 {
  left: 84px; }

.x5 {
  left: 105px; }

.x6 {
  left: 126px; }

.x7 {
  left: 147px; }

.x8 {
  left: 168px; }

.x9 {
  left: 189px; }

.x10 {
  left: 210px; }

.x11 {
  left: 231px; }

.x12 {
  left: 252px; }

.x13 {
  left: 273px; }

.x14 {
  left: 294px; }

.x15 {
  left: 315px; }

.x16 {
  left: 336px; }

.x17 {
  left: 357px; }

.x18 {
  left: 378px; }

.y0 {
  top: 0px; }

.y1 {
  top: 21px; }

.y2 {
  top: 42px; }

.y3 {
  top: 63px; }

.y4 {
  top: 84px; }

.y5 {
  top: 105px; }

.y6 {
  top: 126px; }

.y7 {
  top: 147px; }

.y8 {
  top: 168px; }

.y9 {
  top: 189px; }

.y10 {
  top: 210px; }

.y11 {
  top: 231px; }

.y12 {
  top: 252px; }

.y13 {
  top: 273px; }

.y14 {
  top: 294px; }

.y15 {
  top: 315px; }

.y16 {
  top: 336px; }

.y17 {
  top: 357px; }

.y18 {
  top: 378px; }

.cell {
  width: 21px;
  height: 21px; }

.gvsprite-15-black, .next-player-img.black {
  width: 15px;
  height: 15px;
  background: url(../images/sprites.png) 0 -5px; }

.gvsprite-15-black_dead, .gvboard-prisoner.black {
  width: 15px;
  height: 15px;
  background: url(../images/sprites.png) 0 -30px; }

.gvsprite-15-white, .next-player-img.white {
  width: 15px;
  height: 15px;
  background: url(../images/sprites.png) 0 -55px; }

.gvsprite-15-white_dead, .gvboard-prisoner.white {
  width: 15px;
  height: 15px;
  background: url(../images/sprites.png) 0 -80px; }

.gvsprite-19-black {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -105px; }

.gvsprite-19-black_dead {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -134px; }

.gvsprite-19-boarddq {
  width: 513px;
  height: 513px;
  background: url(../images/sprites.png) 0 -163px; }

.gvsprite-19-hlabel {
  width: 722px;
  height: 17px;
  background: url(../images/sprites.png) 0 -686px; }

.gvsprite-19-markblack {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -713px; }

.gvsprite-19-markcircle {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -742px; }

.gvsprite-19-markcross {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -771px; }

.gvsprite-19-marksquare {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -800px; }

.gvsprite-19-marktriangle {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -829px; }

.gvsprite-19-markwhite {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -858px; }

.gvsprite-19-vlabel {
  width: 20px;
  height: 722px;
  background: url(../images/sprites.png) 0 -887px; }

.gvsprite-19-white {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -1619px; }

.gvsprite-19-white_dead {
  width: 19px;
  height: 19px;
  background: url(../images/sprites.png) 0 -1648px; }

.gvsprite-21-black, .gvmove-number.black, .gvstone.black {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -1677px; }

.gvsprite-21-black_dead {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -1708px; }

.gvsprite-21-blankboard {
  width: 399px;
  height: 399px;
  background: url(../images/sprites.png) 0 -1739px; }

.gvsprite-21-board {
  width: 425px;
  height: 420px;
  background: url(../images/sprites.png) 0 -2148px; }

.gvsprite-21-markblack {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2578px; }

.gvsprite-21-markcircle {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2609px; }

.gvsprite-21-markcross {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2640px; }

.gvsprite-21-markmove {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2671px; }

.gvsprite-21-marksquare {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2702px; }

.gvsprite-21-marktriangle {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2733px; }

.gvsprite-21-markwhite {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2764px; }

.gvsprite-21-white, .gvmove-number.white, .gvstone.white {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2795px; }

.gvsprite-21-white_dead {
  width: 21px;
  height: 21px;
  background: url(../images/sprites.png) 0 -2826px; }

.gvsprite-back {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -2857px; }

.gvsprite-backall {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -2898px; }

.gvsprite-backc {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -2939px; }

.gvsprite-backn {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -2980px; }

.gvsprite-base {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3021px; }

.gvsprite-forward {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3062px; }

.gvsprite-forwardall {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3103px; }

.gvsprite-forwardc {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3144px; }

.gvsprite-forwardn {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3185px; }

.gvsprite-hidenumber {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3226px; }

.gvsprite-refresh {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3267px; }

.gvsprite-shownumber {
  width: 31px;
  height: 31px;
  background: url(../images/sprites.png) 0 -3308px; }

.gvsprite-slider-1 {
  width: 20px;
  height: 20px;
  background: url(../images/sprites.png) 0 -3349px; }

.gvsprite-slider-disabled-1 {
  width: 20px;
  height: 20px;
  background: url(../images/sprites.png) 0 -3379px; }

.gvsprite-slider-disabled {
  width: 20px;
  height: 20px;
  background: url(../images/sprites.png) 0 -3409px; }

.gvsprite-slider {
  width: 20px;
  height: 20px;
  background: url(../images/sprites.png) 0 -3439px; }

.gameviewer {
  z-index: 10;
  clear: both;
  position: relative;
  left: 0px;
  top: 0px;
  width: 720px;
  height: 450px;
  border: 1px solid black;
  background: #eecd7a;
  font-family: Arial, Helvetica, sans-serif; }
  .gameviewer a {
    text-decoration: none; }

.gvtoggleopacity div {
  filter: alpha(opacity=85);
  opacity: 0.85;
  zoom: 1; }
  .gvtoggleopacity div:hover {
    filter: alpha(opacity=100);
    opacity: 1;
    zoom: 1.2; }

.gvdisabled {
  opacity: 0.4 !important;
  zoom: 1 !important; }

.gvbutton {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 1px 0px;
  white-space: nowrap;
  z-index: 99; }
  .gvbutton a {
    display: inline;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #606060;
    border-bottom: 1px solid #101010;
    color: blue;
    background: #ddbc69;
    text-decoration: none;
    padding: 2px 4px 1px 4px;
    text-align: center; }
    .gvbutton a:hover {
      border-top: 1px solid black;
      border-left: 1px solid #666666;
      border-right: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      color: white;
      background: #47748e fixed; }
    .gvbutton a:active {
      color: white;
      background: #47748e; }

.gvcontrol-text {
  font-size: larger;
  font-weight: bold;
  vertical-align: middle; }

.gvbanner {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 468px;
  height: 25px; }
  .gvbanner div {
    display: inline-block; }
  .gvbanner a, .gvbanner span {
    vertical-align: middle; }

.gvbanner-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; }

.gvbanner-left {
  display: inline;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 1px 0px;
  z-index: 100; }

.next-player-img {
  position: relative;
  top: 2px; }

.gvmove-outer {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 399px;
  text-align: center; }

.gvmove-number {
  display: table;
  overflow: hidden; }

.gvprisoners-outer {
  position: absolute;
  left: 270px;
  top: 0px;
  width: 140px; }
  .gvprisoners-outer .gvprisoner-img {
    margin: -2px;
    margin-right: 2px; }
  .gvprisoners-outer .gvcontrol-text {
    font-weight: normal; }

.gvblack-prisoners-outer {
  position: absolute;
  top: 0;
  width: 50%;
  text-align: right; }

.gvwhite-prisoners-outer {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  text-align: right; }

.gvboard-label {
  float: right;
  width: 45px;
  margin-top: 3px;
  text-align: center;
  color: #555555; }

.gvboard-fascade {
  z-index: 99; }

.gvboard-outer {
  position: absolute;
  left: 1px;
  top: 28px; }

.gvboard {
  position: absolute;
  left: 22px;
  top: 2px;
  width: 399px;
  height: 399px; }

.gvboard-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%; }

.gvstone {
  position: absolute; }

.gvmark {
  position: absolute;
  background-color: #eecd7a; }
  .gvmark.black, .gvmark.white {
    background-color: none; }

.gvtext-mark, .gvbranch-mark {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: red;
  font-weight: bolder;
  font-size: 15px;
  background-color: #eecd7a; }
  .gvtext-mark.black, .gvtext-mark.white, .gvbranch-mark.black, .gvbranch-mark.white {
    background-color: none; }

.gvmove-mark {
  position: absolute; }

.gvboard-prisoner-outer {
  position: absolute;
  background-color: #eecd7a; }

.gvboard-prisoner {
  margin-left: 3px;
  margin-top: 3px; }

.gvtoolbar {
  position: absolute;
  left: 432px;
  top: 28px;
  width: 35px;
  height: 414px; }

.gvtb-item {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }

.gvright-pane {
  position: absolute;
  left: 472px;
  top: 1px;
  width: 245px;
  height: 446px;
  border: 1px solid gray;
  background: white;
  overflow-y: auto; }

.gvinfo {
  margin: 3px;
  font-size: 0.9em; }
  .gvinfo .gvname {
    width: 100%;
    text-align: center;
    font-weight: bold; }
  .gvinfo .gvtime-place {
    width: 100%;
    text-align: center; }

.gvbranch-link {
  position: relative;
  display: inline-block;
  width: initial; }

.gvcomment {
  margin: 8px 1px 3px;
  overflow: auto; }
